// Breakpoints
$bp-xs: 414px;
$bp-sm: 768px;
$bp-md: 1279px;

// Colors
$cool-gray: #808080;
$mid-gray: #666666;
$dark-gray: #5B5B5B;
$vlight-gray: #cfcdcd;
$line-gray: #9c9c9c;
$almost-black:#333333;
$pure-black: #000000;

// font families
$aktiv: "aktiv-grotesk", sans-serif;
$lemonde: "lemonde-journal", serif;
$archivo: "archivo-black", sans-serif;

// font size mixins
@mixin u5 {
	font-size: 3.815em;

	@media (max-width:$bp-md) {
		font-size: 3.052em;
	}
	@media (max-width:$bp-sm) {
		font-size: 2.441em;
	}
	@media (max-width:$bp-xs) {
		font-size: 1.953em;
	}
}

@mixin u4 {
	font-size: 3.052em;

	@media (max-width:$bp-md) {
		font-size: 2.441em;
	}
	@media (max-width:$bp-sm) {
		font-size: 1.953em;
	}
	@media (max-width:$bp-xs) {
		font-size: 1.563em;
	}
}

@mixin u3 {
	font-size: 2.441em;

	@media (max-width:$bp-md) {
		font-size: 1.953em;
	}
	@media (max-width:$bp-sm) {
		font-size: 1.563em;
	}
	@media (max-width:$bp-xs) {
		font-size: 1.25em;
	}
}

@mixin u2 {
	font-size: 1.563em;

	@media (max-width:$bp-md) {
		font-size: 1.25em;
	}
	@media (max-width:$bp-sm) {
		font-size: 1em;
	}
}